*{
    margin: 0;
    padding: 0;
    color: #f2f5f7;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 300;

}
@import url("https://fonts.googleapis.com/css?family=Muli:400,700&display=swap");
@font-face {
    font-family: 'ARSENICA-reg';
    src: url(fonts/ARSENICATRIAL-REGULAR.TTF);
}
@font-face {
    font-family: 'ARSENICA-bold';
    src: url(fonts/ARSENICATRIAL-BOLD.TTF);
}
@font-face {
    font-family: 'ARSENICA-demibold';
    src: url(fonts/ARSENICATRIAL-DEMIBOLD.TTF);
}
@font-face {
    font-family: 'ARSENICA-medium';
    src: url(fonts/ARSENICATRIAL-MEDIUM.TTF);
}
@font-face {
    font-family: 'NEXA-light';
    src: url(fonts/NEXA-LIGHT.OTF);
}
@font-face {
    font-family: 'NEXA-bold';
    src: url(fonts/NEXA-BOLD.OTF);
}
@font-face {
    font-family: 'NEXA-black';
    src: url(fonts/NEXABLACK.OTF);
}
@font-face {
    font-family: 'NEXA-bold2';
    src: url(fonts/NEXABOLD.OTF);
}
nav{
    height: 6rem;
     width: 100%;
    background-color: #f3aac1;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 10;
}
.class{
    width: 100%;

}
#newcol{
    display: flex;
}

/* .logo{
    padding:1vh 1vw;
    text-align: center;
    width: 20%;
} */
.logo img {
    margin-top: 15px;
    height: 5.6rem;
    width: 4.5rem;
}
#mainimg{
    display: flex;
    background-color: #f6a8c5;
    background-image: url('Images/Landing page.png');
    margin-top: 10px;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment:fixed; */
    background-size: cover;
}
@media only screen and (min-width: 1500px) {
    #mainimg{
        display: flex;
        background-color: #f6a8c5;
        background-image: url('Images/Landing page.png');
        margin-top: 10px;
        width: 100%;
        height: 120vh;
        background-repeat: no-repeat;
        background-size: cover;
        /* background-attachment:fixed; */
        background-size: cover;
    }
  }
#shopcol{
    display: flex;
    background-color: #f6a8c5;
    background-image: url('Screenshot 2023-02-22 142952.png');
    margin-top: 10px;
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;

    background-size: cover;
}

.nav-links{
    display: flex;
    list-style: none; 
    width: 100%;
    padding: 0 100px;
    
    align-items: center;
    text-transform: uppercase;
}
.nav-links1{
    display: flex;
    list-style: none; 
    color: white;
    width: 50%;
}
.nav-links2{
    display: flex;
    list-style: none; 
    color: white;
    width: 50%;
    justify-content: right;
}
.nav-links li a{
    text-decoration: none;
    margin: 0 0.7vw;
    
}
.nav-links1 li a{
    text-decoration: none;
    margin: 0 0.7vw;
    color: white;
    font-family: 'NEXA-light';
    font-size: 15px; 
}
#bdiff{
    font-family: 'NEXA-bold';
}
.nav-links2 li a{
    text-decoration: none;
    margin: 0 0.7vw;
    color: white;
    font-family: 'NEXA-light';
    font-size: 15px; 
}
.nav-links li a:hover {
    color: #000000;
}
.nav-links li {
    padding: 0px 10px;
    position: relative;
}

.nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #000000;
    position: absolute;
    transition: all ease-in-out 300ms;
    margin: 0 0 0 10%;
}
.nav-links li a:hover::before{
    width: 80%;
}


.login-button{
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;

}
.login-button:hover {
    color: #131418;
    background-color: #f2f5f7;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}
.join-button{
    color: #131418;
    background-color: #61DAFB;
    border: 1.5px solid #61DAFB;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
}
.join-button:hover {
    color: #f2f5f7;
    background-color: transparent;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}


.hamburger div{
    width: 30px;
    height:3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}


@media screen and (max-width: 800px){
    nav{
        position: fixed;
        z-index: 3;
    }
    #mainimg{
        margin-top: 30px;
        width: 100%;
        height: 500px;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: #131418;
        color: white;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
#pink{
    color: #fb83a7;
    font-family: 'ARSENICA-reg';
}
#black{
    padding-top: 200px;
    font-size: 25px;
    color: #454343;
    font-family: 'Abril Fatface', cursive;
font-family: 'Grape Nuts', cursive;
font-family: 'Island Moments', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Poor Story', cursive;
font-family: 'Share Tech Mono', monospace;
font-family: 'Ubuntu Condensed', sans-serif;
font-family: 'Work Sans', sans-serif;
font-family: 'Xanh Mono', monospace;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-family: 'Zen Antique Soft', serif;
}
#pink1{

    font-size: 40px;
    color:#f46a9d;
    font-family: 'Abril Fatface', cursive;
font-family: 'Grape Nuts', cursive;
font-family: 'Island Moments', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Poor Story', cursive;
font-family: 'Share Tech Mono', monospace;
font-family: 'Ubuntu Condensed', sans-serif;
font-family: 'Work Sans', sans-serif;
font-family: 'Xanh Mono', monospace;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-family: 'Zen Antique Soft', serif;
}
#pink2{
    margin-top: 10px;
    font-size: 40px;
    color:#280d0d;
    font-family: 'NEXA-light';
}
.image{
    width: 32%;
}
#newsletter{
    width: 100%;
    height: 400px;
    background-image: url('Images/Screenshot 2023-02-22 at 8.27.58 PM.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#emailsub{
    padding-left: 20px;
    margin-top: 60px;
    width: 30%;
    height: 40px;
    border-radius: 10px;
    border: #ffe3ef 1px solid;
}
#emailsub2{
    padding-left: 20px;
    margin-right: 10px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: #ffe3ef 1px solid;
}
#submitsub{
    background-color: #fb83a7;
  
    margin-top: 60px;
    width: 10%;
    height: 40px;
    border-radius: 10px;
    border: #ffe3ef 1px solid;
}
#submitsub2{
    background-color: #fcedf1;
    color: #d53062;
   height: 40px;
   width: 100px;
    border-radius: 10px;
    border: #ffe3ef 1px solid;
}
:root{
    --white:#FFF;
    --black:rgb(255, 214, 214);
    --dark:#4b4b4b;
    --gray:rgba(206, 170, 170, 0.6);
    --lite:rgba(255,255,255,0.6);
    --primary:#000000;
    --secondary:#fb83a7;
    
}


/*********
            DEFAULT
**********/
body{
    margin:0;
    overflow-x:hidden !important;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration:none !important;
    min-width: fit-content;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
}

a, button{
    transition:0.5s;
}

a, p{
    font-size:14px;
}

h1, h2, h3, h4, h5, h6{
    color:var(--primary);
    font-weight:600;
}

a, button, input, textarea, select{
    outline:none !important;
}

fieldset{
    border:0;
}

.title{
    color:var(--primary);
}

.flex, .fixed_flex{
    display:flex;
}

.flex-content{
    width:100%;
    position:relative;
}

.padding_1x{
    padding:1rem;
}

.padding_2x{
    padding:2rem;
}

.padding_3x{
    padding:3rem;
}

.padding_4x{
    padding:4rem;
}

.btn{
    padding:0.8rem 2rem;
    border-radius:5px;
    text-align:center;
    font-weight:500;
    text-transform:uppercase;
}

.btn_1{
    border:1px solid var(--primary);
    background-color:var(--primary);
    color:var(--secondary);
}

.btn_1:hover{
    background-color:transparent;
    color:var(--primary);
}

.btn_2{
    border:1px solid var(--primary);
    background-color:var(--primary);
    color:var(--secondary);
}

.btn_2:hover{
    border:1px solid var(--secondary);
    background-color:var(--secondary);
    color:var(--primary);
}

@media (max-width:920px){
    .flex{
        flex-wrap:wrap;
    }
    
    .padding_1x, .padding_2x, .padding_3x, .padding_4x{
        padding:1rem;
    }
  
    .btn{
        padding:0.5rem 1rem;
    }
    
    a, p{
        font-size:12px;
    }
}



/*********
               FOOTER
**********/
footer{
    background-color:var(--primary);
    color:var(--lite);
}

footer h3{
    color:var(--white);
    margin-bottom:1.5rem;
}

footer a{
    color:var(--lite);
    display:block;
    margin:15px 0;
}

footer a:hover{
    color:var(--white);
}

footer fieldset{
    padding:0;
}

footer fieldset input{
    background-color:#334f6c;
    border:0;
    color:var(--lite);
    padding:1rem;
}

footer fieldset .btn{
    border-radius:0;
    border:0;
}

footer fieldset .btn_2:hover{
    background-color:var(--secondary);
    border:0;
    color:var(--primary);
}

footer .flex:last-child{
    align-items:center;
}

footer .flex:last-child .flex-content:last-child{
    text-align:right;
}

footer .flex:last-child p{
    color:var(--white);
}

footer .flex:last-child a{
    width:40px;
    display:inline-block;
    background-color:#334f6c;
    color:var(--white);
    padding:0.5rem;
    margin-right:3px;
    text-align:center;
}

footer .flex:last-child a:hover{
    background-color:var(--secondary);
    color:var(--gray);
}

@media (max-width:1100px){
    footer .flex:first-child{
        flex-wrap:wrap;
    }
    
    footer .flex:first-child .flex-content{
        flex: 1 1 40%;
    }
}

@media (max-width:920px){
    footer .flex:last-child .flex-content:last-child{
        text-align:left;
    }
}

@media (max-width:320px){
    footer .flex:first-child .flex-content{
        flex:1 1 100%;
    }
}

.container {
    border-radius: 10px;
    width: 350px;
    height: 450px;
    position: relative;
  }
  #navi,
  #infoi {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  #infoi {
    z-index: 10;
  }
  #introbox{
    margin-top: 180px;
    margin-bottom: 140px;
    margin-left: 180px;
    width: 400px;
    height: 500px;
    background-color:#f7a8c5;
    border-radius: 20px;
}  
#know{
    font-family: 'ARSENICA-reg';
    padding-left: 40px;
    padding-top: 20px;
color: #e25881;
font-size: 60px;
}
#abtus{
    font-family: 'NEXA-light';
    padding-left: 40px;
color: #f46a9d;
font-size: 50px;
}
.aboutinfo1{
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
}
.aboutinfo{
    padding-left: 40px;
    padding-right: 40px;
    font-size: 15px;
}
#aboutmain{
    display: flex;
}
#introbox{
width: 30%;
}
.imgabout1{
  margin-top: 125px;
  border-radius: 20px;
  width: 40%;
  height: 600px;
}
.imgabout1{
    margin-left: 100px;
}
#shopnav{
    background-color: #000000;
}
#mlashes{
    background-color: #000000;
    color: white;
}
#mlashes h1{
    font-family: "Lucida Console", "Courier New", monospace;
    color: white;
}
#mainshop{
    display: flex;
}
.sidenav {
   
    /* 
    z-index: 1; */
    position: sticky;
    margin-top: 80px;
    border-top-right-radius: 50px;
    margin-left: 100px;
    margin-bottom: 100px;
    background: rgb(0, 0, 0);
    overflow-x: hidden;
    padding: 8px 0;
    width: 20%;
    height: 500px;
  }
.shopitems{
width: 60%;
display: flex;
margin-top: 80px;
margin-left: 100px;
}
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
  }
  
  .sidenav a:hover {
    color: #064579;
  }
  
  .main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
.imgpro{

    width: 275px;
    margin: 10px 10px 0px 10px;
}
.introitem{
    border: #000000 1px solid;
    margin: 0px 10px 0px 10px;
}
#firstside{
width: 55%;
float: right;
}
#secondeside{

width: 45%;
}
#welcome{
    margin-top: 275px;
    color: white;
    font-family: 'ARSENICA-reg';
    font-size: 60px;
}
#pb{
    color: white;
    font-size: 60px;
    font-family: 'ARSENICA-reg';

}
#bdiff{
    color: white;
    font-size: 30px;
}
#hr1{
    border: 2px solid white;
    width: 200px;
}


body {
  margin: 0;

  font-family: "Muli", sans-serif;
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
  margin: 1.5em;
}

/* img {
  width: 100%;
  height: 100%;
} */

.container1 {
width: 100%;
height: 100%;
  overflow: hidden;
  position: relative;
}

.items {
  display: flex;
  align-items: center;
  width: fit-content;
  animation: carouselAnim 5s infinite alternate linear;
}

.entry {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  
  background: #fff;

}

@media only screen and (max-width: 768px) {
  .items {
    animation: carouselAnim 35s infinite alternate linear;
  }
  
  @keyframes carouselAnim {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(calc(-100% + (2 * 300px)));
    }
  }
}

.entry p {
  text-align: center;
  padding: 1em;
}

.name {
  font-weight: bold;
}

@keyframes carouselAnim {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(calc(-100% + (5 * 300px)));
  }
}

.container1 .faders {
  width: 90%;
  position: absolute;
  height: 100%;
}


.faders .left {
    background: linear-gradient(
      to right,
      rgba(245, 245, 245, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    width: 15%;
    height: 100%;
    position: absolute;
    z-index: 200;
  }
  .faders .right {
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 100%,
      rgba(245, 245, 245, 1) 0%
      
    );
    width: 15%;
    height: 100%;
    position: absolute;
    z-index: 200;
  }
.right {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(245, 245, 245, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}


/* Login / Regsiter page  */

/*6B5CFF*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;700&display=swap');

:root {
    --mainColor: #f3aac1;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Source Sans Pro', sans-serif;

}



.wave {
    position: fixed;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.container {
    width: 100vw;
    /* height: 100vh; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
}

.img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.img img {
    width: 500px;

}

.login-container {
    display: flex;
    align-items: center;
    text-align: center;
}

form {
    width: 360px;
    text-transform: uppercase;
}

.avatar {
    width: 100px;
}

form h2 {
    font-size: 2.9rem;
    text-transform: uppercase;
    margin: 15px 0;
    color: #333;
}

.input-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px so lid #d9d9d9;
    text-decoration: none;
    outline: none;


}

.input-div:after,
.input-div:before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: var(--mainColor);
    transition: .3s;
    outline: none;
}

.input-div:after {
    right: 50%;
}

.input-div:before {
    left: 50%;
}

.input-div.focus .i i {
    color: var(--mainColor);
}

.input-div.focus div h5 {
    top: -5px;
    font-size: 10px;

}

.input-div.focus:after,
.input-div.focus:before {
    width: 50%;

}

.input-div.one {
    margin-top: 0;
}

.input-div.two {
    margin-bottom: 4px;
}

.i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.i i {
    color: #d9d9d9;
    transition: .3s;
}

.input-div>div {
    position: relative;
    height: 45px;
}

.input-div>div h5 {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    transition: .3s;
}


.input {
    position: absolute;
    outline: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
    font-family: 'Source Sans Pro', sans-serif;

}

a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #999;
    font-size: 0.7rem;
    letter-spacing: 3px;
    transition: .3s;
    margin: 20px;
}

a:hover {
    color: var(--mainColor);
}

.btn {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 25px;
    text-transform: uppercase;
    background-color: var(--mainColor);
    color: white;
    border: none;
    letter-spacing: 1px;
    margin-top: 20px;
    transition: .5s;
}

.btn:hover {
    background-color: pink;
}

@media screen and (max-width: 1000px) {
    form {
        width: 290px;
    }

    .login-container h2 {
        font-size: 2.4rem;
        margin: 8px 0;
    }

    .img img {
        width: 400px;
    }
}

@media screen and (max-width: 900px) {
    body {
        background-color: var(--mainColor);
    }

    .container {
        grid-template-columns: 1fr;
    }

    .img {
        display: none;
    }

    .wave {
        display: none;
    }

    .login-container {
        justify-content: center;
        color: var(--mainColor);
    }

    .form-login {
        padding: 40px;
        background-color: #fff;
        width: 420px;
        border-radius: 8px;
        box-shadow: 3px 3px 15px rgba(88, 34, 160, 0.2);
    }
}




  
  * {
    margin: 0;
     padding: 0;
     box-sizing: border-box;;
  }
  
  .slider {
    position: relative;
  }
  
  .slider__container {
    cursor: grab;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
  }
  
  .slider__container.dragging {
    scroll-behavior: auto;
    cursor: grabbing;
  }
  
  .slider__container::-webkit-scrollbar {
    display: none;
  }
  
  .slider__item {
    padding: 16px 8px;
    flex: 0 0 auto;
    width: calc(100% / 5);
  }
  
  .slider__container[data-step="4"] .slider__item {
    width: calc(100% / 3);
  }
  
  .slider__container[data-step="3"] .slider__item {
    width: calc(100% / 3);
  }
  
  .slider__container[data-step="2"] .slider__item {
    width: calc(100% / 2);
  }
  
  .slider__container[data-step="1"] .slider__item {
    width: calc(100% / 1);
  }
  
  @media screen and (max-width: 1024px) {
    .slider__item,
    .slider__container[data-step="4"] .slider__item {
      width: calc(100% / 3);
    }
  }
  
  @media screen and (max-width: 768px) {
    .slider__item,
    .slider__container[data-step="4"] .slider__item,
    .slider__container[data-step="3"] .slider__item {
      width: calc(100% / 2);
    }
  }
  @media screen and (max-width: 480px) {
    .slider__item,
    .slider__container[data-step="4"] .slider__item,
    .slider__container[data-step="3"] .slider__item,
    .slider__container[data-step="2"] .slider__item {
      width: calc(100% / 1);
    }
  }
  
  .slider__control {
    font-size: 16px;
    border: .5px solid #000;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: #000;
    background: #fff;
    cursor: pointer;
    opacity: .5;
    transition: all .3s;
  }
  
  .slider__control.prev {
    left: 16px;
  }
  
  .slider__control.next {
    right: 16px;
  }
  
  .slider__control:hover {
    opacity: 1;
  }
  
  .slider__item img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-select: none;
  }
  
  @media only screen and (min-width: 1500px) {
    #mainimg{
        display: flex;
        background-color: #f6a8c5;
        background-image: url('Images/Landing page.png');
        margin-top: 10px;
        width: 100%;
        height: 120vh;
        background-repeat: no-repeat;
        background-size: cover;
        /* background-attachment:fixed; */
        background-size: cover;
    }
  }




